/*
/// -------------------------------------------------------------------------------------------------------
/// :: Porto a Porto Acabamentos - Developed by Hebert Richard | 19/07/2022 - 18:30.
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 19/07/2022 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header.js */
.header {
  display: flex;
  background-color: #023857;
  justify-content: center;
  color: #FFFFFF;
  box-shadow: 0 0 1em #7c7c7c;
  padding: 0.6rem;
}

.header a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.9rem;
}

.header a:hover {
  color: #a1cb38;
  transition: all 0.5s ease-in-out;
}

.header svg {
  margin-right: 0.6rem;
}

.header span {
  font-weight: bold;
  margin: 0.500rem;
}

/* logo.js */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item-1 {
  padding: 1rem;
  width: 15%;
  text-align: center;
}

.flex-item-2 {
  padding: 1rem;
  width: 40%;
  text-align: center;
}

.submitLente {
  position:absolute;
  top:0; right:0;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
  height: 50px;
}

.submitLine {
  position: relative;
  width: 100%;
}

.submitLine input {
  width: 100%;
}

.searchBar {
  width: 100%;
  padding: 1rem;
  border: 1px solid #023857;
  border-radius: 2rem;
}

.flex-item-3 {
  padding: 1rem;
  width: 25%;
  text-align: center;
}

.flex-item-3 a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.flex-item-3 a:hover {
  color: #023857;
  transition: all 0.5s ease-in-out;
}

.flex-item-4 {
  padding: 1rem;
  width: 5%;
  text-align: center;
}

.logoTop {
  height: 100px;
}

/* menu.js */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0; 
  background: #023857;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #a1cb38;
  color: #000000;
  transition: all 0.5s ease-in-out;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}